{% extends 'temp/admin_base.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body>
		<h2>view product</h2>
		 <table class="table table-striped text-light table-bordered">
			<tr> 
				<th>product category</th>
				<th>name</th>
				<th>image</th>
				<th>price</th>
				<th>quantity</th>
				<th>manufacture date</th>
				<th>experity date</th>
				<th>additional description</th>
			</tr>
            {% for i in af %}

			<tr>
				<td>{{ i.category.category }}</td>
				<td>{{ i.product_name }}</td>
				<td><img src="/static/{{ i.product_photo }}" width="150px" height="150px"></td>
				<td>{{ i.product_price}}</td>
                <td>{{ i.product_quantity }}</td>
				<td>{{ i.manufacturer_date }}</td>
				<td>{{ i.product_experity }}</td>
                <td>{{ i.additional_description }}</td>

			</tr>
            {% endfor %}





		</>


	</body>
</html>
{% endblock %}